.btn-treehouse {
  background: #1EDD88;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  opacity: 0.9;
  transition: opacity 0.3s;
  font-weight: bold;
  display: inline-block;
}

.btn-treehouse:hover {
  opacity: 1;
}